@page "{id}"
@model WebApplication1.Pages.Students.DetailsModel
@{
}
<h4 class="alert alert-dark">
    <ul>
        <li>@Model.student.Id</li>
        <li>@Model.student.Name</li>
        <li>@Model.student.Age</li>
    </ul>
</h4>