@page "{id?}"
@model WebApplication1.Pages.Students.EditModel
@{
}
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="student.Id" class="control-label"></label>
                <input asp-for="student.Id" class="form-control" />
                <span asp-validation-for="student.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="student.Name" class="control-label"></label>
                <input asp-for="student.Name" class="form-control" />
                <span asp-validation-for="student.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="student.Age" class="control-label"></label>
                <input asp-for="student.Age" class="form-control" />
                <span asp-validation-for="student.Age" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>